<a href="/">
    <img src="assets/logo.gif"  alt="open and close map logo" class="logo" loading="eager" />
    <h1 class="logo-title rock-salt">Wandering in Circles</h1>
</a>

<div class="hero-text-wrapper">
    <p>From picturesque campsites in national parks to vibrant festivals and charming towns, traveling in an Airstream allows you to immerse yourself in the beauty of diverse landscapes while enjoying the convenience of a well-appointed and stylish mobile abode.</p>

    <p>The Airstream lifestyle embodies a sense of wanderlust and a desire for unconventional experiences. With its compact yet cleverly designed interior, an Airstream provides the perfect balance between comfort and mobility, making it an ideal choice for nomadic travelers. Whether you're chasing sunsets on coastal highways, traversing winding mountain roads, or discovering hidden gems off the beaten path, traveling in an Airstream allows you to create a unique and unforgettable journey, where each day brings new adventures and the freedom to embrace the road less traveled.</p>
</div>
