<a href="/">
    <img src="assets/logo.png"  alt="Airstream camper icon logo" class="logo" loading="eager" />
    <h1 class="logo-title">Wandering in Circles</h1>
</a>

<p>An awesome message about traveling in the airstream with a couple of wonderful companions. One furry and one Sandy!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim soluta quia labore rem, aut explicabo maiores est eligendi iste necessitatibus recusandae ipsa voluptatibus beatae. Beatae incidunt vitae consequatur aliquam aut.</p>
