@import "../../styles.scss";

a {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img.logo {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
    }

    h1.logo-title {
        color: $logo-blue;
        margin: 0;
        padding: 0;
        font-size: 1rem;

        @media (min-width: $md-screen) {
            font-size: 1.5rem;
        }

        @media (min-width: $lg-screen) {
            font-size: 2rem;
        }
    }
}