<a href="/">
    <img src="assets/logo-gif-1-onlineslow2.gif"  alt="open and close map logo" class="logo" loading="eager" />
    <h1 class="logo-title rock-salt">Wandering in Circles</h1>
</a>

<div class="hero-text-wrapper">
    <p>An awesome message about traveling in the airstream with a couple of wonderful companions. One furry and one Sandy!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim soluta quia labore rem, aut explicabo maiores est eligendi iste necessitatibus recusandae ipsa voluptatibus beatae. Beatae incidunt vitae consequatur aliquam aut.</p>
</div>
