@import "../../styles.scss";

.grid-container {
    padding: 0;
    column-count: 1;

    @media (min-width: $md-screen) {
        column-count: 2;
    }

    @media (min-width: $lg-screen) {
        column-count: 3;
    }

    @media (min-width: $xl-screen) {
        column-count: 5;
    }

    .image {
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        margin: 0;
        break-inside: avoid;
    }
}

.shuffle-wrapper {
    text-align: center;
}

.btn-shuffle {
    color: $logo-blue;
    padding: 1rem;
    border: 2px solid $logo-blue;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    
    &:hover {
        transform: scale(1.1);
    }  
}

#error-message {
    text-align: center;
    color: $logo-blue;
}

.my-pagination ::ng-deep .ngx-pagination {
    padding: 0;
    margin: 1rem 0;
    font-size: 0.9rem;

    @media (min-width: $xxl-screen) {
        font-size: 1.75rem;
    }
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: $logo-blue;
    border-radius: 2px;
  }