.grid-container {
    padding: 0;
    column-count: 1;

    @media (min-width: 768px) {
        column-count: 2;
    }

    @media (min-width: 1024px) {
        column-count: 3;
    }

    @media (min-width: 1440px) {
        column-count: 5;
    }

    @media (min-width: 2000px) {
        column-count: 6;
    }

    .image {
        width: 100%;
        height: auto;
        padding: 0.5rem 0;
        margin: 0;
        break-inside: avoid;
    }
}

.btn-shuffle {
    color: rgb(51, 131, 222);
    padding: 1rem;
    border: 2px solid rgb(51, 131, 222);
    border-radius: 3px;
    text-transform: uppercase;
    //background-color: #cccccc;
}