@font-face {
  font-family: "senja";
  src: url("./fonts/senja.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "malibu";
  src: url("./fonts/malibu.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tavel";
  src: url("./fonts/travel.otf") format("opentype"),
       url("./fonts/travel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "streetwear";
  src: url("./fonts/streetwear.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "countryside";
  src: url("./fonts/countryside.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.app {
  text-align: center;
}

.app-header {
  background-color: #FAF9F6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title-wrapper {
  display: flex;
  align-items: flex-end;
  h1 {
    margin: 15px;
      font-family: "countryside", sans-serif;
    }
  }
  .app-logo {
    width: 40px;
    height: 40px;
    pointer-events: none;
    margin: 15px;
  }
.intro-text {
  max-width: 90vw;
  @media (min-width: 1500px) {
    max-width: 75vw;
  }
}